<div class="left_col" role="main">

    <div class="clearfix"></div>

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h4> About</h4>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Author: ", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.Label("Fernando Riedo Pires", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("E-mail: ", htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-8">
                            <label class="form-control">riedo.ec@gmail.com</label>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("LinkedIn: ", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            <a href="https://br.linkedin.com/in/fernando-riedo-b8b89666">Clique aqui</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

