@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">

    </p>
</div>

<div class="left_col" role="main">

    <div class="clearfix"></div>

    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h4> Instruções</h4>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Author: ", htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-8">
                            @Html.ActionLink("Fernando Riedo", "About", "Home")
                        </div>
                    </div>
                    
                </div>

                <p>
                    - Cadastre um usuário e simule um login (Não deu tempo de fazer o identity :\ )<br/>
                    - Será redirecionado para a controller de Transportadoras e irá habilitar o menu de transportadoras e classificação <br/>
                </p>


            </div>
        </div>
    </div>
</div>
